
@import './icons.styl'
@import './margins.styl'
@import './general.styl'


*
  font-family: 'Roboto',sans-serif;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;

.bg-white
  background: white;
.bg-burlywood
  background: burlywood

  