.j-mb-xs,.j-ma-xs
  margin-bottom: 8px!important
.j-mt-xs,.j-ma-xs
  margin-top 8px
.j-ml-xs,.j-ma-xs
  margin-left:  8px
.j-mr-xs,.j-ma-xs
  margin-right: 8px
.j-mb-sm,.j-ma-sm
  margin-bottom: 12px
.j-mt-sm,.j-ma-sm
  margin-top: 12px
.j-ml-sm,.j-ma-sm
  margin-left: 12px
.j-mr-sm,.j-ma-sm
  margin-right: 12px
.j-mb-md,.j-ma-md
  margin-bottom: 16px
.j-mt-md,.j-ma-md
  margin-top:  16px
.j-ml-md,.j-ma-md
  margin-left:  16px
.j-mr-md,.j-ma-md
  margin-right: 16px
.j-mb-lg,.j-ma-lg
  margin-bottom: 20px
.j-mt-lg,.j-ma-lg
  margin-top:  20px
.j-ml-lg,.j-ma-lg
  margin-left:  20px
.j-mr-lg,.j-ma-lg
  margin-right: 20px
.j-mb-xl,.j-ma-xl
  margin-bottom: 24px
.j-mt-xl,.j-ma-xl
  margin-top:  24px
.j-ml-xl,.j-ma-xl
  margin-left:  24px
.j-mr-xl,.j-ma-xl
  margin-right: 24px



.j-pb-xs,.j-pa-xs
  padding-bottom: 8px
.j-pt-xs,.j-pa-xs
  padding-top 8px
.j-pl-xs,.j-pa-xs
  padding-left:  8px
.j-pr-xs,.j-pa-xs
  padding-right: 8px
.j-pb-sm,.j-pa-sm
  padding-bottom: 12px
.j-pt-sm,.j-pa-sm
  padding-top: 12px
.j-pl-sm,.j-pa-sm
  padding-left: 12px
.j-pr-sm,.j-pa-sm
  padding-right: 12px
.j-pb-md,.j-pa-md
  padding-bottom: 16px!important
.j-pt-md,.j-pa-md
  padding-top:  16px
.j-pl-md,.j-pa-md
  padding-left:  16px
.j-pr-md,.j-pa-md
  padding-right: 16px
.j-pb-lg,.j-pa-lg
  padding-bottom: 20px
.j-pt-lg,.j-pa-lg
  padding-top:  20px
.j-pl-lg,.j-pa-lg
  padding-left:  20px
.j-pr-lg,.j-pa-lg
  padding-right: 20px
.j-pb-xl,.j-pa-xl
  padding-bottom: 24px
.j-pt-xl,.j-pa-xl
  padding-top:  24px
.j-pl-xl,.j-pa-xl
  padding-left:  24px
.j-pr-xl,.j-pa-xl
  padding-right: 24px

